<launch>

  <node name="bebop_demo" pkg="bebop_demo" type="bebop_localization_test.py" output="screen"/>

  <include file="$(find bebop_vel_ctrl)/launch/bebop_vel_ctrl.launch" />

    <!-- Manual flight -->
  <include file="$(find bebop_vel_ctrl)/launch/bebop_teleop.launch" />

    <!-- Autonomous flying instead of teleop -->
  <!-- <include file="$(find bebop_demo)/launch/square_flying.launch" /> -->

</launch>
