<launch>

  <node name="vel_commander" pkg="bebop_demo" type="vel_cmd_contr.py" output="screen"/>
  <node name="motionplanner" pkg="bebop_demo" type="motionplanner.py" output="screen"/>

  <param name="vel_cmd/update_time" value="0.5" />
  <param name="vel_cmd/sample_time" value="0.01" />
  <param name='vel_cmd/goal_reached_pos_tol' value="0.05" />
  <param name='vel_cmd/goal_reached_angle_tol' value="0.05" />
  <param name='vel_cmd/goal_reached_input_tol' value="0.03" />
  <param name='vel_cmd/feedback_gain', value="0.3" />
  <param name="max_linear_vel" value="1.5" />

</launch>
