<launch>

  <node name="vel_commander" pkg="bebop_demo" type="vel_cmd_contr.py" output="screen"/>
  <node name="motionplanner" pkg="bebop_demo" type="motionplanner.py" output="screen"/>

  <param name="vel_cmd/update_time" value="0.5" />
  <param name="vel_cmd/sample_time" value="0.01" />
  <param name='vel_cmd/goal_reached_pos_tol' value="0.10" />
  <param name='vel_cmd/goal_reached_angle_tol' value="0.05" />
  <param name='vel_cmd/goal_reached_input_tol' value="0.03" />
  <!-- <param name='vel_cmd/Kp_x' value="0.9790" />
  <param name='vel_cmd/Ki_x' value="0.6864" />
  <param name='vel_cmd/Kd_x' value="1.8532" />
  <param name='vel_cmd/Kp_y' value="0.7436" />
  <param name='vel_cmd/Ki_y' value="0.6864" />
  <param name='vel_cmd/Kd_y' value="1.6077" />
  <param name='vel_cmd/Kp_z' value="4.0" />
  <param name='vel_cmd/Ki_z' value="1.5792" /> -->
  <param name='vel_cmd/Kp_x' value="0.6864" />
  <param name='vel_cmd/Ki_x' value="0.6864" />
  <param name='vel_cmd/Kd_x' value="1.5792" />
  <param name='vel_cmd/Kp_y' value="0.6864" />
  <param name='vel_cmd/Ki_y' value="0.6864" />
  <param name='vel_cmd/Kd_y' value="1.5792" />
  <param name='vel_cmd/Kp_z' value="0.5" />
  <param name='vel_cmd/Ki_z' value="1.5792" />
  <param name='vel_cmd/K_theta' value="0.4" />
  <param name='vel_cmd/max_input' value="1.0" />
  <param name='vel_cmd/safety_treshold' value="0.5" />

  <param name='motionplanner/knot_intervals' value="10" />
  <param name='motionplanner/horizon_time' value="10.0" />
  <param name='motionplanner/vmax' value="0.8" />
  <param name='motionplanner/amax' value="1.2" />
  <param name='motionplanner/drone_radius' value="0.20" />
  <param name='motionplanner/safety_margin' value="0.20" />
  <param name='motionplanner/room_origin_x' value="3." />
  <param name='motionplanner/room_origin_y' value="1.5" />
  <param name='motionplanner/room_origin_z' value="1.25" />
  <param name='motionplanner/room_width' value="6.0" />
  <param name='motionplanner/room_depth' value="3.0" />
  <param name='motionplanner/room_height' value="2.5" />


</launch>
