<launch>

  <node name="try_out" pkg="bebop_demo" type="square_flying.py" output="screen"/>

  <!--- Automatic flight -->
  <!-- <include file="$(find bebop_vel_ctrl)/launch/bebop_vel_ctrl.launch" /> -->
  <!--- Manual flight - Also safety measure -->
  <include file="$(find bebop_vel_ctrl)/launch/bebop_teleop.launch" />


</launch>
